body{
    background-color: #F9F6EE;
}
.bg3{
    background-color: #98E44D;
}
.rounded2{
    border-radius: 10vb;
}
.bg1{
    background-color: #99E54D;
}
.rounded1{
    border-radius: 50vb;
}
.font{
    font-size: 1em;
}
.h1-1{
    font-size: 4em;
}