body{
    background-color: #F9F6EE;
}
.bg3{
    background-color: #98E44D;
}
.rounded2{
    border-radius: 10vb;
}
.bg1{
    background-color: #99E54D;
}
.rounded1{
    border-radius: 100%;
    width: 180px;
    height: 180px;
    
}
.rounded3{
    border-radius: 100%;
    width: 20px;
    height: 20px;
}
.font{
    font-size: 1em;
}
.h1-1{
    font-size: 4em;
}
.circle{
    background-color: #99E54D;
     border-radius: 50%;
      height: 80px;
      width: 80px;
}