.bg1{
    background-color: #99E54D ;
    border-radius: 50vb;
}
.before1::before{
    content: url('./images/phone-call.png');
}
.rounded3{
    border-radius: 10vb;
}
.bg3{
    background-color:rgb(249, 239, 229);
    border-radius: 5vb;
    height: 50vh;
}
.bg4{
    background-color: #99E54D;
}
.font{
    font-size: 1em;
}
